@import "colors";

* {
    color: $regular-color;
    font-family: Ubuntu, sans-serif;
    font-size: 11pt;
    font-style: normal;
    font-weight: normal;
    line-height: 1.75em;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: $color-20;

    > header {
        padding: 4em;

        h1 {
            font-size: 4em;
        }
    }

    > main {
        > section {
            padding: 4em 12em;

            &.white {
                background-color: white;
            }

            &.light {
                background-color: $color-20;
            }

            &.dark {
                background-color: $regular-color;
            }
        }
    }

    > footer {
        padding: 4em;
    }
}
