// Space between elements, e.g. between navigation and content or between heading and paragraph
$small-spacing: 0.5rem;
$large-spacing: 1.5rem;
$extra-spacing: 3rem;

// Width of each column in the responsive grid system
$min-element-width: 16rem;
$max-element-width: 3 * $min-element-width + 4 * $small-spacing;

// Default width for buttons
$default-button-width: 12.5rem;

// Space between text and surrounding borders
$horizontal-cell-spacing: 0.5em;
$vertical-cell-spacing: 0.25em;

// Border radius
$border-radius: 0.25rem;

// Shadow size
$shadow-size: 1rem;
