html {
    font-size: 14pt;
}

html, * {
    background: transparent;
    border-style: none;
    box-sizing: border-box;
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    margin: 0;
    outline-style: none;
    padding: 0;
    word-break: break-word;
    -webkit-tap-highlight-color: transparent;
}

*::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}
