// Shades from darkest to lightest:
//
//       0%      0    #00
//       5%     13    #0D
//      10%     26    #1A
//      15%     38    #26
//      20%     51    #33
//      25%     64    #40
//      30%     77    #4D
//      35%     89    #59
//      40%    102    #66
//      45%    115    #73
//      50%    128    #80
//      55%    140    #8C
//      60%    153    #99
//      65%    166    #A6
//      70%    179    #B3
//      75%    191    #BF
//      80%    204    #CC
//      85%    217    #D9
//      90%    230    #E6
//      95%    242    #F2
//     100%    255    #FF
//
$white: #FFFFFF;
$light-blue: #0066CC;
$grey-blue: #778899;
$venture-green: #00FFCC;
$gradle-green: #00FFAA;

$gradient-background-start-color: lighten($venture-green, 20%);
$gradient-background-end-color: darken($light-blue, 20%);

$gradient-foreground-start-color: $white;
$gradient-foreground-end-color: rgba(255, 255, 255, 0.7);
$foreground-color: $white;

$font-color: darken($light-blue, 10%);

$border-color: darken($venture-green, 10%);

$shadow-color: darken($light-blue, 20%);
$light-shadow-color: lighten($light-blue, 37.5%);

$button-border-color: darken($venture-green, 5%);
$button-gradient-start-color: $venture-green;
$button-gradient-end-color: darken($venture-green, 5%);
