@import "colors";

@mixin with-rounded-corners {
    border-radius: 0.25em;
}

@mixin with-border {
    @include with-rounded-corners;
    border: 1px solid $border-color;
    padding: 0.32em 0.68em;
}

@mixin with-light-shadow {
    box-shadow: 0 0.25em 0.5em -0.25em $light-shadow-color;
}

@mixin with-shadow {
    box-shadow: 0 0.5em 1em -0.5em $shadow-color;
}

@mixin animated {
    -webkit-transition: all 200ms ease;
}
