@import "common/defaults";

@import "elements/headings";
@import "elements/text-fields";
@import "elements/buttons";
@import "elements/icons";

@import "layouts/header";
@import "layouts/login-form";
@import "layouts/dashboard";

body {
    // Fill full screen size
    min-height: 100vh;
    // Set background image
    background-image: url("../images/sao-paulo.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    // Center content
    display: flex;
    align-items: center;
    justify-content: center;
}
