@import "../common/colors";
@import "../common/shapes";
@import "../common/animations";

button {

    @include animated-background($light-blue, $blue);
    @include border;
    @include cell-spacing;
    @include rounded-corners;
    border-color: $blue;
    color: $white;
    flex: 100%;
    font-weight: bold;
    margin-bottom: $large-vertical-spacing;
    margin-top: $large-vertical-spacing;
    text-transform: uppercase;

    &:hover, &:focus, &:active {
        @include light-shadow;
    }
}
