@import "../common/colors";
@import "../common/shapes";

h1 {
    color: $heading-font-color;
    text-transform: uppercase;
    margin-bottom: $large-vertical-spacing;
    margin-top: $large-vertical-spacing;
}
