@import "../common/colors";
@import "../common/shapes";
@import "../common/animations";

@mixin input {
    @include cell-spacing;
    @include border;
}

.input-with-icon {
    @include animated;
    @include input;
    @include rounded-corners;
    align-items: center;
    border-color: $border-color;
    display: flex;
    // Hint: Outline cannot be used with rounded corners
    box-shadow: 0 0 0 2px transparent;
    svg {
        fill: $font-color;
        height: $icon-size;
        margin: 0 $horizontal-cell-spacing 0 0;
        width: $icon-size;
    }
    input {
        border: none;
        flex: 1;
    }
    // TODO ":focus" not available at this point... :(
    &:hover {
        // @include light-shadow;
        border-color: $active-border-color;
        box-shadow: 0 0 0 2px $active-outline-color;
    }
}
