@import "../common/colors";

header {
    background-color: white;
    border-bottom: 1px solid $border-color;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0.64em 1.36em;
    position: absolute;
    width: 100vw;
}
