@import "../common/shapes";

@import "../elements/headings";
@import "../elements/text-fields";
@import "../elements/buttons";

.login-form {
    @include card;
    width: $column-width;
    div {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $vertical-cell-spacing;
        margin-top: $vertical-cell-spacing;
        label {
            flex: 100%;
        }
        .input-with-icon {
            flex: 100%;
        }
    }
}
