@import "../common/colors";
@import "../common/shapes";
@import "../common/animations";

body {
    display: flex;
    justify-content: center;

    main {
        @include card;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $vertical-spacing;
        margin-left: $horizontal-spacing;
        margin-top: $horizontal-spacing;
        margin-right: 0;

        header {
            align-items: center;
            border-bottom-style: solid;
            border-color: $border-color;
            border-width: 1px;
            display: flex;
            flex: 100%;
            justify-content: space-between;
            margin-left: $large-horizontal-cell-spacing;
            margin-right: $large-horizontal-cell-spacing;
            padding-bottom: $large-horizontal-cell-spacing;
            padding-left: $large-horizontal-cell-spacing;
            padding-right: $large-horizontal-cell-spacing;
            padding-top: $large-horizontal-cell-spacing;

            * {
                color: $border-color;
            }
            svg {
                fill: $font-color;
                height: $icon-size;
                width: $icon-size;
            }
            .input-with-icon {
                width: $column-width;
            }
        }
        nav {
            padding-bottom: $vertical-spacing;
            padding-left: $large-horizontal-cell-spacing;
            padding-right: $large-horizontal-cell-spacing;
            padding-top: $vertical-spacing;
            min-width: $column-width;

            .caption {
                display: flex;
                flex: 100%;
                justify-content: space-between;

                span {
                    @include large-cell-spacing;
                    text-transform: uppercase;
                }
            }
            .links {
                margin-top: $large-vertical-spacing;

                a {
                    @include large-cell-spacing;
                    border-radius: $border-radius;
                    display: block;
                    margin-bottom: 1px;

                    &.active {
                        @include animated-background($active-button-background-color, $button-background-color);
                        @include border;
                        background-color: $button-background-color;
                        position: relative;
                        text-transform: uppercase;
                    }
                    &:not(.active) {
                        @include animated-background($active-background-color, $background-color);
                        @include border;
                    }
                    span {
                        display: inline-block;

                        &.layer-1 {
                            width: $horizontal-spacing;
                        }
                        &.layer-2 {
                            width: 2 * $horizontal-spacing;
                        }
                        &.layer-3 {
                            width: 3 * $horizontal-spacing;
                        }
                    }
                }
            }
        }
        article {
            display: flex;
            flex: 1;
            flex-direction: column;
            min-width: 2 * $column-width;
            max-width: 3 * $column-width;
            padding-bottom: $large-vertical-spacing;
            padding-left: $large-horizontal-spacing;
            padding-right: $large-horizontal-spacing;
            padding-top: $vertical-spacing;

            h1 {
                color: $border-color;
                font-family: "Slabo 27px", sans-serif;
                font-size: 3em;
                margin-bottom: $vertical-spacing;
            }
            h1:not(:first-child) {
                margin-top: $large-vertical-spacing;
            }
            h2 {
                color: $border-color;
                font-family: "Slabo 27px", sans-serif;
                font-size: 2em;
                margin-top: $large-vertical-spacing;
                margin-bottom: $vertical-spacing;
            }
            p {
                margin-top: $vertical-spacing;
                margin-bottom: $vertical-spacing;
            }
            ul {
                margin-top: $vertical-spacing;
                margin-bottom: $vertical-spacing;
                list-style-position: inside;

                li {
                    margin-left: $horizontal-spacing;
                }
            }
            table {
                border-collapse: collapse;
                border-color: $border-color;
                border-style: solid;
                border-spacing: 0;
                border-width: 3px;
                width: 100%;
                thead {
                    background-color: $background-color;
                    th {
                        @include large-cell-spacing;
                        border: none;
                        text-align: left;
                    }
                }
                tr {
                    border-color: $border-color;
                    border-style: solid;
                    border-width: 1px;
                    td {
                        @include large-cell-spacing;
                        border: none;
                    }
                }
            }
            pre {
                background-color: $background-color;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                font-family: "PT Mono", monospace;
                font-size: 0.95em;
                margin-bottom: $vertical-spacing;
                margin-top: $vertical-spacing;
                padding-bottom: $large-vertical-cell-spacing;
                padding-left: $large-horizontal-cell-spacing;
                padding-right: $large-horizontal-cell-spacing;
                padding-top: $large-vertical-cell-spacing;
            }
            mark {
                @include cell-spacing;
                background-color: $background-color;
                border-radius: $border-radius;
                font-family: "PT Mono", monospace;
                font-size: 0.95em;
            }
            code {
                background-color: $background-color;
            }
            a {
                color: $link-font-color;
                &:hover, &:focus {
                    color: $active-link-font-color;
                }
            }
        }
    }
}
