// Shades from darkest to lightest:
//
//       0%      0    #00
//       5%     13    #0D
//      10%     26    #1A
//      15%     38    #26
//      20%     51    #33
//      25%     64    #40
//      30%     77    #4D
//      35%     89    #59
//      40%    102    #66
//      45%    115    #73
//      50%    128    #80
//      55%    140    #8C
//      60%    153    #99
//      65%    166    #A6
//      70%    179    #B3
//      75%    191    #BF
//      80%    204    #CC
//      85%    217    #D9
//      90%    230    #E6
//      95%    242    #F2
//     100%    255    #FF
//
$white: #CCCCCC;
$grey-blue: #262633;
$light-blue: #00CCCC;

$background-color: $grey-blue;
$active-background-color: lighten($grey-blue, 2.5%);

$font-color: $white;
$heading-font-color: $light-blue;

$border-color: lighten($grey-blue, 20%);
$active-border-color: $light-blue;

$link-font-color: darken($light-blue, 7.5%);
$active-link-font-color: $light-blue;

$button-font-color: $white;
$button-background-color: darken($light-blue, 7.5%);
$active-button-background-color: $light-blue;

$shadow-color: darken($grey-blue, 2.5%);
