@import "../../../../common/styles/defaults";

@import "colors";

html {
    font-size: 13pt;
}

* {
    color: $font-color;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.75em;
}
