@import "colors";
@import "shapes";

@mixin spacing {
    padding-top: $vertical-spacing;
    padding-left: $horizontal-spacing;
    padding-right: $horizontal-spacing;
    padding-bottom: $vertical-spacing;
}

@mixin large-spacing {
    padding-top: $large-vertical-spacing;
    padding-left: $large-horizontal-spacing;
    padding-right: $large-horizontal-spacing;
    padding-bottom: $large-vertical-spacing;
}

@mixin cell-spacing {
    padding-top: $vertical-cell-spacing;
    padding-left: $horizontal-cell-spacing;
    padding-right: $horizontal-cell-spacing;
    padding-bottom: $vertical-cell-spacing;
}

@mixin large-cell-spacing {
    padding-top: $large-vertical-cell-spacing;
    padding-left: $large-horizontal-cell-spacing;
    padding-right: $large-horizontal-cell-spacing;
    padding-bottom: $large-vertical-cell-spacing;
}

@mixin animated {
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}

@mixin animated-background($active-font-color, $active-background-color, $font-color, $background-color) {
    @include animated;
    background: linear-gradient(to right, $active-background-color 50%, $background-color 50%);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 201% 100%;
    color: $font-color;

    &:hover, &:focus, &:active {
        color: $active-font-color;
        background-position: left;
    }
}

@mixin animated-underline($active-border-color, $border-color) {
    @include animated;
    background: linear-gradient(to right, $active-border-color 50%, $border-color 50%);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 201% 100%;
}

@mixin shadow() {
    box-shadow: 0 0 $shadow-size $shadow-color;
}
