// Width of each column in the responsive grid system
$column-width: 24em;

// Space between elements, e.g. between navigation and content or between heading and paragraph
$horizontal-spacing: 1.75rem;
$vertical-spacing: 1.75rem;
$large-horizontal-spacing: 3.5rem;
$large-vertical-spacing: 3.5rem;

// Space between text and surrounding borders
$horizontal-cell-spacing: 0.5rem;
$vertical-cell-spacing: 0.25rem;
$large-horizontal-cell-spacing: 1rem;
$large-vertical-cell-spacing: 0.75rem;

// Border radius
$border-radius: 0.25rem;

// Shadow size
$shadow-size: 1rem;
