@import "../common/colors";
@import "../common/shapes";
@import "../common/mixins";

$header-background-color: lighten($background-color, 5%);

header {
    @include shadow();
    background-color: $header-background-color;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    * {
        padding: $large-vertical-cell-spacing $large-horizontal-cell-spacing;
    }
}
