@import "../common/colors";
@import "../common/shapes";

.dashboard {
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    nav {
        min-width: $min-element-width;
    }
    main {
        background-color: $white;
        min-height: 100vh;
    }
    form {
        display: flex;
        flex-direction: column;
        padding: $large-spacing;
        max-width: $max-element-width;
    }
}
