@import "../common/colors";

// Richtiges Schwarz, um den Kontrast zu erhöhen
$header-font-color: black;

body {
    // Benötigt, um den Header absolut positionieren zu können
    position: relative;
}

header {

    // Positioniere den Header ganz oben auf der Seite
    position: absolute;
    width: 100%;
    top: 0;

    // Positioniere die drei Kind-Elemente links, mittig und rechts
    display: flex;
    justify-content: space-between;

    // Formatiere die Kind-Elemente (und vergrößere durch den Innenabstand die Fläche der Links)
    * {
        color: $header-font-color;
        padding: 1.5em;
    }

    // Zeichne einen farbigen Balken über dem Header ein
    &::before {
        position: absolute;
        display: block;
        width: 100%;
        content: "";
        background: linear-gradient(135deg, $first-gradient-color, $second-gradient-color, $third-gradient-color);
        height: 0.25em;
    }

}
