@import "../common/colors";
@import "../common/shapes";

$login-background-color: $white;
$login-shadow-color: black;

.login-form {

    background-color: $login-background-color;
    border-radius: 0.5rem;
    box-shadow: 0 1em 2em -1em $login-shadow-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $large-spacing;
    padding: $large-spacing;

}
