* {
    font-family: sans-serif;
    font-size: 11pt;
    color: slategray;
    margin: 0;
    padding: 0;
}

body {
    padding: 2.75em;
    /* Demonstrate scrolling */
    height: 200vh;
}

#toggleOverlayButton {
    position: fixed;
    top: 2em;
    right: 2em;
    border: 1px solid #B8C0C8;
    border-radius: 0.25em;
    background: linear-gradient(#F1F3F4, #E3E6E9);
    box-shadow: 0 3px 6px -3px #B8C0C8;
    padding: 0.75em 1.25em;
    width: 16em;
    outline: none;
    transition: all 500ms;
}
#toggleOverlayButton:hover, #toggleOverlayButton:focus, #toggleOverlayButton:active {
    border-color: slategray;
    box-shadow: 0 3px 6px -3px slategray;
}

#progressBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.25em;
    background-color: slategray;
}
#progressBar.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0ms, opacity 0ms;
    animation: extend 5s ease-out forwards, flash 500ms 4s ease-in-out infinite alternate;
}
#progressBar {
    opacity: 0;
    width: 100%;
    visibility: hidden;
    /*
     * TODO: Der Ladebalken springt am Ende der Ladeanimation direkt auf eine Breite von 100%, statt von seiner
     * aktuellen Breite "langsam" auf eine Breite von 100% anzuwachsen. Dies liegt daran, dass Animations und
     * Transitions nicht kombinierbar sind (?). Eine Animation lässt sich an dieser Stelle aber nicht verwenden, weil
     * für eine Animation der Ausgangszustand "from", in diesem Fall also die momentane Breite, bekannt sein muss.
     * Eine mögliche Lösung wäre eventuell die Einführung von einem dritten Zustand über CSS-Klassen.
     */
    transition: width 500ms, opacity 500ms, visibility 0ms 500s;
}
@keyframes extend {
    from {
        width: 0%;
    }
    to {
        width: 90%;
    }
}
@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#overlay {
    /* Display the pseudo element */
    content: "";
    /* Fixed position even if scrolled */
    position: fixed;
    /* Cover the whole screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Darken the screen */
    background-color: rgba(112, 128, 144, 0.2);
}

/*
 * When the overlay becomes visible, block user input immediately ("visibility"), but fade-in slowly ("opacity"). When
 * the overlay becomes invisible, fade-out slowly ("opacity"), but block user input until the end (using the below
 * delay of 500ms).
 */
#progressBar.visible ~ div {
    visibility: visible;
    opacity: 1;
    transition: visibility 0ms, opacity 500ms;
}
#progressBar ~ div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0ms 500ms, opacity 500ms;
}
