// Durch die Option "!default" werden bereits definierte Werte nicht überschrieben, so dass sich die Farben ändern lassen
$white: #FFFFFF !default;
$black: #333333 !default;
$grey: #999999 !default;
$light-grey: #CCCCCC !default;
$blue: #3366CC !default;
$light-blue: #99CCFF !default;

$font-color: $black !default;
$background-color: $white !default;

$border-color: $light-grey !default;
$active-border-color: $light-blue !default;
$overlay-color: rgba(128, 128, 128, 0.5) !default;
$shadow-color: $grey !default;

$button-font-color: $white !default;
$button-background-color: $blue !default;
$secondary-button-font-color: $white !default;
$secondary-button-background-color: $grey !default;
$placeholder-font-color: $grey !default;
