@import "colors";
@import "spacings";

$border-width: 2px;
$active-border-width: 4px;
$border-radius: 0.25rem;

@mixin border {
    border: $border-width solid $border-color;
}

@mixin rounded-corners {
    border-radius: $border-radius;
}

@mixin outline($width, $color) {
    box-shadow: 0 0 0 $width $color;
}

@mixin shadow {
    box-shadow: 0 0 1em 0 $shadow-color;
}
