@import "colors";

// Space between text and surrounding borders
$horizontal-cell-spacing: 0.75rem;
$vertical-cell-spacing: 0.5rem;

@mixin cell-spacing {
    padding: $vertical-cell-spacing $horizontal-cell-spacing;
}
