@import "common/defaults";
@import "common/colors";
@import "common/mixins";

@import "layouts/header";

.icons {
    width: 0;
    height: 0;
}

main {
    align-items: center;
    background: radial-gradient(circle at center, $gradient-background-start-color, $gradient-background-end-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    form {
        @include with-border;
        @include with-shadow;
        background: radial-gradient(circle at bottom, $gradient-foreground-start-color, $gradient-foreground-end-color);
        border-color: white;
        padding: 2em 0;
        width: 24em;

        h1 {
            margin: 2em;
            color: $font-color;
        }
        div {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin: 1em;

            label {
                display: none;
            }
            .input-with-icon {
                @include animated;
                display: flex;
                flex: 100%;
                margin: 0.25em 1em;

                svg {
                    @include animated;
                    fill: $border-color;
                    height: 1.25em;
                    margin: 0 1em 0 0.32em;
                    width: 1.25em;
                }
                input {
                    @include animated;
                    border: none;
                    border-bottom: 1px solid $border-color;
                    background: none;
                    flex: 1;
                }
                &:hover {

                    input {
                        @include with-light-shadow;
                        border-bottom: 1px solid $font-color;
                    }
                    svg {
                        @include with-light-shadow;
                        fill: $font-color;
                    }
                }
                ::-webkit-input-placeholder {
                    color: $border-color;
                }
            }
            button {
                @include animated;
                @include with-border;
                border-color: $button-border-color;
                background: linear-gradient($button-gradient-start-color, $button-gradient-end-color);
                // Gradients cannot be animated, but "moved"
                $line-height: 1.75em;
                $vertical-margin: 0.32em;
                $button-height: $line-height + 2 * $vertical-margin;
                background-size: 1px (1.25 * $button-height);
                background-position: 0 (-0.25 * $button-height);
                color: $white;
                flex: 100%;
                font-weight: bold;
                margin: 1em 1em;

                &:hover, &:focus, &:active {
                    @include with-shadow;
                    background-position: 0 0;
                }
            }
        }
    }
}
