@import "../common/colors";
@import "../common/spacings";
@import "../common/shapes";

button {

    @include cell-spacing;
    @include rounded-corners;
    background: $button-background-color;
    border: none;
    color: $button-font-color;

    &:focus, &:active {
        @include outline($active-border-width, $active-border-color);
    }

}

button.secondary {

    background: $secondary-button-background-color;
    color: $secondary-button-font-color;

    &:focus, &:active {
        @include outline($active-border-width, $border-color);
    }

}
