@import "../common/colors";
@import "../common/spacings";
@import "../common/shapes";

input {

    @include cell-spacing;
    @include border;
    @include rounded-corners;
    flex: 1;

    &:focus, &:active {
        border-color: $active-border-color;
        @include outline($border-width, $active-border-color);
    }

}
