@import "colors";

@mixin animated {
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
}

@mixin animated-background($active-background-color, $background-color) {
    @include animated;
    background: linear-gradient($active-background-color, $background-color);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 201%;

    &:hover, &:focus, &:active {
        background-position: top;
    }
}

@mixin animated-underline($active-border-color, $border-color) {
    @include animated;
    background: linear-gradient(to right, $active-border-color 50%, $border-color 50%);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 201% 100%;
}
