@import "colors";

// Width of each column in the responsive grid system
$column-width: 22em;

// Space between elements, e.g. between navigation and content or between heading and paragraph
$horizontal-spacing: 1.75rem;
$vertical-spacing: 1.75rem;
$large-horizontal-spacing: 3.5rem;
$large-vertical-spacing: 3.5rem;

// Space between text and surrounding borders
$horizontal-cell-spacing: 0.75rem;
$vertical-cell-spacing: 0.5rem;
$large-horizontal-cell-spacing: 1rem;
$large-vertical-cell-spacing: 0.75rem;

// Border radius
$border-radius: 0.25rem;

// Icon size for inline icons
$icon-size: 1.25em;

@mixin spacing {
    padding-top: $vertical-spacing;
    padding-left: $horizontal-spacing;
    padding-right: $horizontal-spacing;
    padding-bottom: $vertical-spacing;
}

@mixin large-spacing {
    padding-top: $large-vertical-spacing;
    padding-left: $large-horizontal-spacing;
    padding-right: $large-horizontal-spacing;
    padding-bottom: $large-vertical-spacing;
}

@mixin cell-spacing {
    padding-top: $vertical-cell-spacing;
    padding-left: $horizontal-cell-spacing;
    padding-right: $horizontal-cell-spacing;
    padding-bottom: $vertical-cell-spacing;
}

@mixin large-cell-spacing {
    padding-top: $large-vertical-cell-spacing;
    padding-left: $large-horizontal-cell-spacing;
    padding-right: $large-horizontal-cell-spacing;
    padding-bottom: $large-vertical-cell-spacing;
}

@mixin rounded-corners {
    border-radius: $border-radius;
}

@mixin rounded-corners-on-top {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

@mixin border {
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
}

@mixin card {
    @include border;
    @include rounded-corners-on-top;
    @include spacing;
    @include shadow;
    background-color: $active-background-color;
}

@mixin light-shadow {
    box-shadow: 0 0.25em 0.75em -0.25em $shadow-color;
}

@mixin shadow {
    box-shadow: 0 0.5em 1.5em -0.25em $shadow-color;
}
