@import "common/defaults";
@import "common/colors";
@import "common/shapes";
@import "common/mixins";

@import "layouts/header";

body {
    background-color: $background-color;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    form {
        padding: $vertical-spacing $horizontal-spacing;
        width: $column-width;

        h1 {
            color: $heading-font-color;
            margin: $large-vertical-spacing 0;
            text-transform: uppercase;
        }
        .label-with-input {
            align-items: center;
            display: flex;
            flex: 100%;
            flex-wrap: wrap;
            margin: $vertical-spacing 0;

            label {
                display: none;
            }
            .input-with-icon {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                flex: 100%;

                input {
                    background: none;
                    border: none;
                    flex: 100%;
                }
                .input-animation {
                    @include animated-underline($active-border-color, $border-color);
                    display: block;
                    height: 1px;
                    position: relative;
                    flex: 100%;
                }
                input:focus ~ .input-animation {
                    background-position: left;
                }
                ::placeholder, ::-webkit-input-placeholder {
                    color: $border-color;
                }
            }
            button {
                @include animated-background($white, $active-button-background-color, $white, $button-background-color);
                border: none;
                border-radius: $border-radius;
                flex: 100%;
                margin: $vertical-spacing 0;
                padding: $large-vertical-cell-spacing $large-horizontal-cell-spacing;
                text-transform: uppercase;
            }
        }
    }
}
