@import "common/defaults";
@import "common/colors";
@import "common/shapes";
@import "common/mixins";

body {
    background-color: $background-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    nav {
        padding-bottom: $vertical-spacing;
        padding-left: $horizontal-spacing;
        padding-right: $horizontal-spacing;
        padding-top: $vertical-spacing;
        min-width: $column-width;

        .caption {
            display: flex;
            flex: 100%;
            justify-content: space-between;

            span {
                @include large-cell-spacing;
                text-transform: uppercase;
            }
        }
        .links {
            margin-top: $large-vertical-spacing;

            a {
                @include large-cell-spacing;
                border-radius: $border-radius;
                display: block;
                margin-bottom: 1px;

                &.active {
                    @include animated-background($button-font-color, $active-button-background-color, $button-font-color, $button-background-color);
                    background-color: $button-background-color;
                    position: relative;
                    text-transform: uppercase;
                }
                &:not(.active) {
                    @include animated-background($font-color, $active-background-color, $border-color, $background-color);
                }
                span {
                    display: inline-block;

                    &.layer-1 {
                        width: $horizontal-spacing;
                    }
                    &.layer-2 {
                        width: 2 * $horizontal-spacing;
                    }
                    &.layer-3 {
                        width: 3 * $horizontal-spacing;
                    }
                }
            }
        }
    }
    main {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-width: 2 * $column-width;
        max-width: 3 * $column-width;

        header {
            display: flex;
            flex: 100%;
            justify-content: space-between;
            padding-bottom: $vertical-spacing;
            padding-left: $horizontal-spacing;
            padding-right: $horizontal-spacing;
            padding-top: $vertical-spacing;

            * {
                color: $border-color;
            }
            span {
                @include large-cell-spacing;
                text-transform: uppercase;
                padding-left: 0;
                .active {
                    color: $font-color;
                }
            }
            a {
                @include animated-background($font-color, $active-background-color, $border-color, $background-color);
                @include large-cell-spacing;
                border-radius: $border-radius;
                text-transform: uppercase;
            }
        }
        article {
            flex: 1;
            padding-bottom: $large-vertical-spacing;
            padding-left: $horizontal-spacing;
            padding-right: $horizontal-spacing;
            padding-top: $vertical-spacing;

            h1 {
                color: $border-color;
                font-family: "Slabo 27px", sans-serif;
                font-size: 3em;
                margin-bottom: $vertical-spacing;
            }
            h1:not(:first-child) {
                margin-top: $large-vertical-spacing;
            }
            h2 {
                color: $border-color;
                font-family: "Slabo 27px", sans-serif;
                font-size: 2em;
                margin-top: $large-vertical-spacing;
                margin-bottom: $vertical-spacing;
            }
            p {
                margin-top: $vertical-spacing;
                margin-bottom: $vertical-spacing;
            }
            ul {
                margin-top: $vertical-spacing;
                margin-bottom: $vertical-spacing;
                list-style-position: inside;

                li {
                    margin-left: $horizontal-spacing;
                }
            }
            table {
                border-collapse: collapse;
                border-color: $border-color;
                border-style: solid;
                border-spacing: 0;
                border-width: 3px;
                width: 100%;
                thead {
                    background-color: $active-background-color;
                    th {
                        @include large-cell-spacing;
                        border: none;
                        text-align: left;
                    }
                }
                tr {
                    border-color: $border-color;
                    border-style: solid;
                    border-width: 1px;
                    td {
                        @include large-cell-spacing;
                        border: none;
                    }
                }
            }
            pre {
                background-color: $active-background-color;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                font-family: "Source Code Pro", monospace;
                font-size: 0.95em;
                margin-bottom: $vertical-spacing;
                margin-top: $vertical-spacing;
                padding-bottom: $large-vertical-cell-spacing;
                padding-left: $large-horizontal-cell-spacing;
                padding-right: $large-horizontal-cell-spacing;
                padding-top: $large-vertical-cell-spacing;
            }
            mark {
                @include cell-spacing;
                background-color: $active-background-color;
                border-radius: $border-radius;
                font-family: "Source Code Pro", monospace;
                font-size: 0.95em;
            }
            code {
                background-color: $active-background-color;
            }
            a {
                color: $link-font-color;
                display: inline-block;

                .link-animation {
                    @include animated-underline($active-link-font-color, $background-color);
                    display: block;
                    height: 1px;
                    width: 100%;
                }
                &:hover, &:focus {
                    color: $active-link-font-color;

                    .link-animation {
                        background-position: left;
                    }
                }
            }
        }
    }
}
