$theme-color: slategray;

$font-color: $theme-color;

$background-color-40: lighten($theme-color, 35%);
$background-color-30: lighten($theme-color, 35%);
$background-color-20: lighten($theme-color, 40%);
$background-color-10: lighten($theme-color, 45%);
$background-color-0: lighten($theme-color, 50%);

$horizontal-cell-spacing: 0.75em;
$vertical-cell-spacing: 0.5em;

$element-spacing: 0.5rem;

$base-width: 10rem;
$small-column-width: $base-width;
$large-column-width: 2 * $base-width + 2 * $element-spacing;

@mixin cell-spacing() {
    padding-bottom: $vertical-cell-spacing;
    padding-left: $horizontal-cell-spacing;
    padding-right: $horizontal-cell-spacing;
    padding-top: $vertical-cell-spacing;
}
@mixin element-spacing() {
    margin-bottom: $element-spacing;
    margin-left: $element-spacing;
    margin-right: $element-spacing;
    margin-top: $element-spacing;
}

html {
    font-size: 14pt;
}

* {
    background: transparent;
    border: unset;
    box-sizing: border-box;
    color: $font-color;
    font-size: 1rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex: 1 1 $small-column-width;
    justify-content: center;
}
.container {
    @include element-spacing();
    display: flex;
    flex: 1 1 $small-column-width;
    flex-direction: column;
    max-width: 60em;
    min-width: $small-column-width + 2 * $element-spacing;
}
.row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.small-column {
    @include element-spacing();
    flex: 1 1 $small-column-width;
}
.large-column {
    @include element-spacing();
    flex: 2 1 $large-column-width;
}

label {
    @include cell-spacing();
    display: block;
}
input {
    @include cell-spacing();
    width: 100%;
}

.spacer {
    flex: 9999 1 0;
}
.buttons {
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1 1 (2 * $small-column-width + 4 * $element-spacing);
}
button {
    @include cell-spacing();
    @include element-spacing();
    flex: 1 1 $small-column-width;
}

.odd-row {
    background-color: $background-color-10;
}
.even-row {
    background-color: $background-color-20;
}
label, input, button {
    background-color: $background-color-0;
}

.ruler {
    background-color: red;
    bottom: 0;
    display: block;
    height: 1rem;
    left: 0;
    width: 10rem;
    position: absolute;
}
