$actual-black: #000000;
$black: #333333;
$white: #CCCCCC;
$light-grey: #999999;
$grey: #666666;
$blue: #3366CC;
$light-blue: #99CCFF;

$font-color: $white;
$background-color: $black;

$border-color: $grey;
$active-border-color: $blue;
$overlay-color: rgba(0, 0, 0, 0.5);
$shadow-color: $actual-black;

$button-font-color: $black;
$button-background-color: $light-blue;
$secondary-button-font-color: $black;
$secondary-button-background-color: $light-grey;
$placeholder-font-color: $light-grey;
