@import "common/defaults";
@import "common/colors";
@import "common/shapes";

@import "elements/headings";
@import "elements/text-fields";
@import "elements/icons";

@import "layouts/login-form";

$foreground-color: $white;
$light-shadow-color: lighten($grey-blue, 37.5%);
$gradient-start-color: lighten($light-blue, 25%);
$gradient-end-color: lighten($light-blue, 5%);

body {
    background-color: $background-color;
    position: relative;
}

header {
    @include large-cell-spacing;
    @include shadow;
    background-color: $white;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

main {
    align-items: center;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
