@import "../common/colors";
@import "../common/shapes";
@import "../common/animations";

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: $extra-spacing 0;
}

.spacer {
    flex: 9999 1 0;
}

button {

    border-radius: 1.5em;
    display: block;
    flex: 1 1 $default-button-width;
    padding: 0.75em 1em;
    margin: $small-spacing;
    position: relative;

    .label {
        @include animated();
        display: inline-block;
        text-transform: uppercase;
        transform: translateX(0);
    }
    .inline-icon {
        @include animated();
        display: inline-block;
        fill: transparent;
        height: 0.5em;
        position: absolute;
        top: 1em;
    }
    &:hover, &:focus {
        .label {
            transform: translateX(-0.25em);
        }
        .inline-icon {
            transform: translateX(0.25em);
        }
    }

    &[type="submit"] {
        background: linear-gradient(135deg, $first-gradient-color, $second-gradient-color, $third-gradient-color);
        .label {
            color: $white;
        }
        &:hover, &:focus {
            .inline-icon {
                fill: $white;
            }
        }
    }
    &:not([type="submit"]) {
        box-sizing: border-box;
        border: 1px solid $black;
        // box-shadow: inset 0 0 0 1px $black;
        .label {
            color: $black;
        }
        &:hover, &:focus {
            .inline-icon {
                fill: $black;
            }
        }
    }

}
