@import "../common/colors";
@import "../common/shapes";

$first-heading-color: $pink;
$second-heading-color: $purple;

h1 {
    margin: $extra-spacing $small-spacing;
    text-transform: uppercase;
}

.centered {
    text-align: center;
}

// Not in use, but a cool effect: Heading with gradient background color!
.gradient-background-heading {
    background: linear-gradient(135deg, $first-gradient-color, $second-gradient-color, $third-gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
