@import "../common/colors";
@import "../common/shapes";
@import "../common/animations";

$text-field-underline-color: $black;

.text-field {

    position: relative;
    margin-bottom: $small-spacing;
    margin-left: $small-spacing;
    margin-right: $small-spacing;
    margin-top: $large-spacing;
    min-width: $min-element-width;

    label {
        @include animated();
        // Positioning with "left" and "top" is required for Firefox
        left: 0;
        position: absolute;
        top: 100%;
        transform: translateY(-1.5rem);
    }

    .text-field-animation {
        @include animated();
        // Distribution: First third for the "rainbow" gradient, middle third
        // to fade from the last color to black and last third "pure black"
        background: linear-gradient(to right, $first-gradient-color 0%, $second-gradient-color 17%, $third-gradient-color 33%, $text-field-underline-color 67%, $text-field-underline-color 100%);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 301% 100%;
        display: block;
        height: 1px;
        position: absolute;
        width: 100%;
    }

    input {

        padding: 0.5em 0 0.5em 0;
        width: 100%;

        // Important: The input must be "required" or the label will leave the
        // floating position when the focus is lost after filling out the text
        // field. Example:
        //
        //     <input type="text" required />
        //
        &:focus, &:valid {
            & ~ label {
                font-size: 0.75rem;
                transform: translateY(-3rem);
            }
        }

        &:focus ~ .text-field-animation {
            background-position: left;
            height: 2px;
        }

    }

}
