@import "../common/colors";
@import "../common/common";

@mixin button {
    border: none;
    border-radius: 0.25em;
    display: block;
    line-height: 1em;
    margin: 1em 0;
    padding: 1em;
    width: 16em;
}

button {
    @include button;

    &.on-white-background {
        background-color: white;

        &.light {
            background-color: $color-5;
        }

        &.gradient {
            background: linear-gradient($color-5, $color-15);
        }

        &.with-border {
            border: 1px solid $color-50;
        }

        &.with-shadow {
            box-shadow: 0 3px 6px -3px $color-50;
        }

        &.dark {
            background-color: $color-100;
            color: white;

            &.with-border {
                background-color: $color-50;
                border: 1px solid $color-100;
            }
        }
    }

    &.on-light-background {
        background-color: $color-20;

        &.light {
            background-color: $color-10;

            &.gradient {
                background: linear-gradient($color-10, $color-20);
            }
        }

        &.with-border {
            border: 1px solid $color-50;
        }

        &.with-highlight {
            box-shadow: 0 1px 0 0 $color-10;
        }

        &.with-shadow {
            box-shadow: 0 3px 6px -3px $color-50;
        }

        &.dark {
            background-color: $color-100;
            color: white;

            &.with-border {
                background-color: $color-70;
                border: 1px solid $color-100;
            }
        }
    }

    &.on-dark-background {
        background-color: $color-100;
        color: white;

        &.light {
            background-color: $color-90;
        }

        &.with-border {
            border: 1px solid $color-50;
        }
    }
}
