$silver: #CCCCCC;
$light-blue: #00CCCC;
$black-blue: #262633;

// from notes-backend:
// $light-grey: #D9D9D9;
// $grey-blue: #1A1A26;
// $light-blue: #00CCCC;

$light-black-blue: lighten($black-blue, 5%);
$dark-black-blue: darken($black-blue, 5%);

$font-color: $silver;
$heading-font-color: $light-blue;
$light-background-color: $light-black-blue;
$dark-background-color: $dark-black-blue;

html {
    font-size: 18pt;
    background: radial-gradient(circle at 0 67%, $light-background-color, $dark-background-color);
}

* {
    color: $font-color;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 20rem;
    position: relative;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
}

section {
    padding: 1rem;
}

header {
    text-align: right;
    padding: 8rem;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    &::after {
        content: ".";
    }
}

h2 {
    color: $light-blue;
    margin: 0.5rem 0;
    text-transform: uppercase;
    &::after {
        content: ".";
    }
}

ul {
    list-style: none;
}

li + li {
    margin: 0.15rem 0;
}

.icons {
    height: 0;
    position: absolute;
    width: 0;
}

.inline-icon {
    width: 0.5em;
    fill: transparent;
    border-radius: 50%;
    transition: 200ms all ease;
    transform: translateX(-0.25em) translateY(-0.05em);
}

a:hover .inline-icon {
    fill: $silver;
    transform: translateX(0.25em) translateY(-0.05em);
}
