@import "../common/colors";
@import "../common/common";

$border-radius: 0.33em;

@mixin button {
    border-radius: 0.25em;
    line-height: 1em;
    padding: 0.75em;
    width: 10em;
}

body {
    > main {
        > section {
            > section {
                border-radius: $border-radius $border-radius 0 0;
                margin: 4em auto;
                padding: 0;
                width: 40em;

                &.with-separator {
                    background-color: white;
                    border: 1px solid $color-20;
                    border-radius: $border-radius $border-radius 0 0;
                    box-shadow: 0 0.5em 1em -0.5em $color-20;

                    header {
                        padding: 1em 1.5em;
                    }

                    hr {
                        background-color: $color-20;
                        border: none;
                        height: 1px;
                        margin: 0 1em;
                    }

                    section {
                        padding: 2em 1.5em 2em 1.5em;
                    }

                    footer {
                        padding: 1em 1.5em;
                        text-align: right;

                        button {
                            @include button;
                            border: 1px solid $color-20;

                            &[type="submit"] {
                                background-color: $color-5;
                                border-color: $color-40;
                            }

                            &[type="button"] {
                                background-color: white;
                            }

                            &:not(:first-child) {
                                margin-left: 1em;
                            }
                        }
                    }
                }

                &.with-light-header {
                    box-shadow: 0 0.5em 1em -0.5em $color-40;

                    header {
                        background: linear-gradient($color-5, $color-10);
                        border: 1px solid $color-50;
                        border-radius: $border-radius $border-radius 0 0;
                        padding: 1em;
                    }

                    section {
                        background-color: white;
                        border: 1px solid $color-50;
                        border-style: none solid;
                        padding: 2em 1em;
                    }

                    footer {
                        background-color: white;
                        border: 1px solid $color-50;
                        border-style: none solid solid solid;
                        text-align: right;

                        button {
                            @include button;
                            margin: 1em;

                            &[type="submit"] {
                                border: 1px solid $color-50;
                                background: linear-gradient($color-5, $color-15);
                            }

                            &[type="button"] {
                                border: 1px solid $color-30;
                                background: linear-gradient(white, $color-5);
                            }

                            &:not(:first-child) {
                                margin-left: 0;
                            }
                        }
                    }
                }

                &.with-dark-header {
                    box-shadow: 0 0.5em 1em -0.5em $color-60;

                    header {
                        background: linear-gradient($color-60, $color-70);
                        border: 1px solid $color-100;
                        border-radius: $border-radius $border-radius 0 0;
                        padding: 1em;

                        * {
                            color: white;
                        }
                    }

                    section {
                        background-color: white;
                        border: 1px solid $color-100;
                        border-style: none solid;
                        padding: 2em 1em;
                    }

                    footer {
                        background-color: white;
                        border: 1px solid $color-100;
                        border-style: none solid solid solid;
                        text-align: right;

                        button {
                            @include button;
                            margin: 1em;
                            box-shadow: 0 0.33em 0.66em -0.33em $color-20;

                            &[type="submit"] {
                                background: linear-gradient($color-60, $color-70);
                                border: 1px solid $color-100;
                                color: white;
                            }

                            &[type="button"] {
                                background: linear-gradient(white, $color-5);
                                border: 1px solid $color-50;
                            }

                            &:not(:first-child) {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }

            &.light {
                > section {
                    &.with-separator {
                        border-color: $color-50;
                        box-shadow: 0 0.5em 1em -0.5em $color-50;

                        footer {
                            button {
                                &[type="submit"] {
                                    border-color: $color-50;
                                }
                            }
                        }
                    }

                    &.with-light-header {
                        box-shadow: 0 0.5em 1em -0.5em $color-50;

                        header, section, footer {
                            border-color: $color-50;
                        }

                        footer {
                            button {
                                &[type="submit"] {
                                    border-color: $color-50;
                                }
                            }
                        }
                    }

                    &.with-dark-header {
                        box-shadow: 0 0.5em 1em -0.5em $color-100;
                    }
                }
            }

            &.dark {

                > section {

                    &.light.with-separator {
                        box-shadow: none;
                        border: none;

                        hr {
                            background-color: $color-30;
                        }

                        footer {
                            button {

                                &[type="submit"] {
                                    border: 1px solid $color-50;
                                    background: linear-gradient($color-5, $color-15);
                                }

                                &[type="button"] {
                                    border: 1px solid $color-30;
                                    background: linear-gradient(white, $color-5);
                                }
                            }
                        }
                    }

                    &.dark.with-separator {
                        background-color: $color-90;
                        border: 1px solid $color-70;
                        box-shadow: none;

                        * {
                            color: $color-10;
                        }

                        hr {
                            background-color: $color-70;
                        }

                        footer {
                            button {

                                &[type="submit"] {
                                    background-color: $color-100;
                                    border: 1px solid $color-70;
                                }

                                &[type="button"] {
                                    background-color: $color-95;
                                    border: 1px solid $color-80;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
