@import "../common/colors";
@import "../common/common";

body {
    > main {
        > section {
            > section {
                header {
                    padding: 0 1.5em !important;

                    input {
                        display: none;
                    }
                    label {
                        border: none;
                        box-sizing: border-box;
                        display: inline-block;
                        padding: 1em 1.5em;
                        text-align: center;
                        width: 10em;
                    }
                    .animated-underline {
                        transition: all 200ms ease;
                        background-color: $color-20;
                        border-top-left-radius: 0.25em;
                        border-top-right-radius: 0.25em;
                        height: 0.25em;
                        width: 10em;
                    }

                    #html-tab:checked ~ .animated-underline {
                        transform: translateX(0em);
                    }
                    #css-tab:checked ~ .animated-underline {
                        transform: translateX(10em);
                    }
                    #javascript-tab:checked ~ .animated-underline {
                        transform: translateX(20em);
                    }

                }
            }
        }
    }
}
