.input-group {

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0.75rem;

    & > * {
        margin: 0.25rem;
    }
    & > label {
        flex: 2 1 7.5em;
    }
    .input-group > :not(label) {
        flex: 2 1 15em;
    }

}

.button-group {

    display: flex;
    margin: 0.75rem;

    & > * {
        margin: 0.25rem;
    }

}
