@import "../common/colors";
@import "../common/shapes";

.overlay {
    background-color: $overlay-color;
    bottom: 0;
    content: "";
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.dialog {
    @include shadow;
    background-color: $background-color;
    border-radius: 0.25em;
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 4rem;
    max-width: 30em;
    min-width: 17em;
    z-index: 1000;
}
