@import "../common/colors";
@import "../common/spacings";
@import "../common/shapes";

body {
    // Setze die Hintergrundfarbe
    background-color: $background-color;
    // Benötigt, um den Header absolut positionieren zu können
    position: relative;
}

header {

    // Positioniere den Header ganz oben auf der Seite
    position: absolute;
    width: 100%;
    top: 0;

    // Zeige den Header ähnlich einem modalen Dialog im Vordergrund an
    background-color: $background-color;
    @include shadow;
    z-index: 2000;

    // Passe die Größe des Headers an die Größe von einem Textfeld an
    padding: $border-width 0;

    // Positioniere die drei Kind-Elemente links, mittig und rechts
    display: flex;
    justify-content: space-between;

    // Formatiere die Kind-Elemente (und vergrößere durch den Innenabstand die Fläche der Links)
    & > * {
        @include cell-spacing;
    }

}

main {
    // Nutze die gesamte zur Verfügung stehende Fläche
    min-height: 100vh;
}
